body{
    font-family: 'Sen', sans-serif;
}
.card {
    z-index: 1;
    position: absolute;
    top: 80%;
}

.main-container {
    z-index: 1;
    position: absolute;
    top: 18rem;
}

.btn-br-0 {
    border-radius: 0px 0px 2px 2px;
}

header {
    z-index: 20;
}

.menu_nav {
    height: 100vh;
    position: absolute;
    right: 0;
    width: 10rem;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: max-width 0.2s ease-out;
    top: 4.4rem;
    z-index: 20;
    background-color: white;
    color: black
}

.menu_open {
    max-width: 175px;
    transition: max-width 0.4s ease-in;
}

.body_menuOpen {
    overflow: hidden;
}

.button_bgClose {
    display: none;
    z-index: 10;
    width: 100vw;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.button_bgClose_active {
    display: block;
}

.container-header {
    background-color: rgba(255, 255, 255, 0);
    height: 3rem;
}

button {
    outline: none !important;
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    /* for button */
    -webkit-appearance: button;
    /* for input */
    -moz-user-select: none;
    -ms-user-select: none;
    
}

i:active{
    background-color: rgba(0, 0, 0, 0.089);
}

.navegacion{
    list-style: none;
}

.navegacion li{
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
}

.navegacion li:hover{
    color: rgba(0, 0, 0, 0.301)
}